/* Allgemeines Styling für Desktop */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Container */
.container {
  max-width: 800px;
  padding: 30px;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

/* Titel */
h1, h2 {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8rem;
}

/* Tabellen */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #2a2a2a;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
}

th, td {
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  word-wrap: break-word;
}

th {
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
}

td {
  background-color: #242424;
}

/* Formular */
.formx {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.formx input, .formx button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.formx input {
  background-color: #2a2a2a;
  color: #ffffff;
  flex: 1;
  min-width: 150px;
}

.formx button {
  background-color: #ff9800;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formx button:hover {
  background-color: #e68900;
}

/* Abstände und zentrierte Inhalte */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  min-width: 150px;
}

/* Responsives Design für Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 800px;
    margin-top: 100px;
  }

  h1, h2 {
    font-size: 2rem;
  }

  table th, table td {
    font-size: 1.1rem;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #151515;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-family: 'Brush Script MT';
    font-size: 50px;
    text-shadow: #FC0 1px 0 5px;
    z-index: 1000;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  }
  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
  }
}
